# constants (ignore jika hanya mengubah ip)
bengkel_ali/lib/core/constants/app_constants.dart
bengkel_web/lib/core/constants/app_constants.dart

# Firebase
bengkel_ali/android/app/google-services.json

# Google Service Account
bengkel_api/config/service_account.json

# FCM cache
bengkel_api/config/fcm_token_cache.json

# Mail_config
bengkel_api/config/mail_config.php

# Uploads
bengkel_api/uploads

# Vendor
bengkel_api/vendor

# Database Backup
db_backup/

# Flutter Build
**/build/
**/.dart_tool/